/* .heading{
    color: green;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.card-style{
    width: 200px;
    border:  1px solid #cccccc57;
    margin: 10px;
    box-shadow: 1px 1px 3px 1px #cccccc57;
    border-radius: 3px;
    cursor: pointer;
}
.img-style{
    width: 200px;
    border-radius: 3px;
}
.user-info{
    padding: 3px 10px;
} */